@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row container">

    <h1>Welkom!</h1>

    <br />
    <br />

    <h2>Host: @Environment.MachineName</h2>
    <br />
    <p>Current user: @Environment.UserName</p>
    <br />
    <h2>Options:</h2>
    <p>UseDelay: @Model.UseDelay</p>
    <p>DelayInMilliseconds: @Model.DelayInMilliseconds</p>

</div>
