@page
@model VolumeDemoModel
@{
    ViewData["Title"] = "Volume demo";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form method="post">

    <div class="row">
        <div class="col-sm-4">Tekst:</div>
        <div class="col-sm-8"><input id="inputText" type="text" asp-for="VolumeData.Input"/></div>
    </div>
    <div class="row">
        <div class="col-sm-4">Opgeslagen tekst:</div>
        <div class="col-sm-8"><textarea id="savedTextbox" rows="10" cols="150" asp-for="VolumeData.SavedText"></textarea></div>
    </div>
    <div class="row">
        <input id="action" type="hidden" asp-for="VolumeData.Action" />
        <button id="saveBtn" type="submit" class="btn btn-primary">Opslaan</button>
        <button id="clearBtn" type="submit" class="btn btn-primary" onclick="setAction('clear')">Clear</button>
    </div>
</form>

<script type="text/javascript">
    function setAction(action) {
        $("#action").val(action);
    }
</script>
